<h1>Your Recipe:</h1>
<div class="container">

  <h2><%= @recipe_by_id.name %></h2>

  <form action="/recipe/<%= @recipe_by_id.id %>" method="post">

    <label for="ingredient">Ingredient:</label>
    <input id="ingredient" name="ingredient" type="text">



    <button type="submit">Submit</button>

  </form>
</div>

<p>Ingredients:</p>
<ul>
  <% if @recipe_by_id.ingredients.any? %>
    <% @recipe_by_id.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
      <% end %>
  <% else %>
    <p>there are no ingredients to display.</p>
  <% end %>
</ul>

<form action="/recipe/<%= @recipe_by_id.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete</button>
</form>

<a href="/"><button type="button">Return Home</button></a>
